---
layout: default
title: getcore-Hilfecenter
---
<div class="row">
 
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading panel-heading-core">Erst-Benutzung</div>
            <div class="panel-body">
                <ul class="no-decorations">
                    {% for post in site.tags.erstbenutzung reversed%}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading "><span class="panel-heading-core">Allgemeine Benutzung</span></div>
            <div class="panel-body">
                <ul class="no-decorations">
                {% for post in site.tags.allgemein reversed%}
                <li>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading panel-heading-core">Katalog</div>
            <div class="panel-body">
                   <ul class="no-decorations">
                {% for post in site.tags.katalog reversed%}
                <li>
                    <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    
</div>

<div class="row">
 
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading panel-heading-core">Versand-/Zahlarten</div>
            <div class="panel-body">
                  <ul class="no-decorations">
                {% for post in site.tags.versand_zahlung reversed%}
                <li>
                    <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading panel-heading-core">Bestellungen</div>
            <div class="panel-body">
                   <ul class="no-decorations">
                {% for post in site.tags.marketing reversed%}
                <li>
                    <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading panel-heading-core">Marketing</div>
            <div class="panel-body">
                <ul class="no-decorations">
                {% for post in site.tags.marketing reversed%}
                   <li>
                       <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                   </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
</div>
<div class="row">
 
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading panel-heading-core">Shopgestaltung</div>
            <div class="panel-body">
                  <ul class="no-decorations">
                {% for post in site.tags.gestaltung reversed%}
                <li>
                    <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading panel-heading-core">Hilfestellungen</div>
            <div class="panel-body">
                   <ul class="no-decorations">
                {% for post in site.tags.hilfe reversed%}
                <li>
                    <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
    <div class="col-md-4">
     
        <div class="panel index-panel">
            <div class="panel-heading panel-heading-core">Sonstiges</div>
            <div class="panel-body">
                <ul class="no-decorations">
                {% for post in site.tags.sonstiges reversed%}
                   <li>
                       <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
                   </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        
    </div>
    
</div>
