
<!DOCTYPE html>
<html>
	<head>
<!DOCTYPE html>
<html>
	<head>
			<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/wiki/css/main.css">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open Sans:100,200,300,400,500,600,700,800,100italic,200italic,300italic,400italic,500italic,600italic,700italic,800italic," rel="stylesheet" type="text/css">	</head>
	<body>
		<header>
			<div class="container">
				<div class="header row">
					<div class="col-md-5">
						<div class="row">
							<div class="col-md-4">
								<div class="h1">
						 			<a href="http://www.getcore.io"><img src="/wiki/img/headcore.svg" type="image/svg+xml" id="header-icon" /></a>
						 		</div>
							</div>
						<div class="col-md-8">	
						 <div class="h1 h1fix">
						 	<small>
						 		<a href="/wiki">Hilfe Center</a>
						 	</small>
						 
						 </div>
						 </div>
						</div>
					</div>
	
					<div class="col-md-7">
						<div class="h1 h1fix" style="text-align:right;">
						 	<small>
						 		<a href="mailto:support@getcore.io">Senden Sie uns eine E-Mail</a>
						 	</small>
						 </div>
					</div>
			        </div>
				
			</div>
		</header>
		<div class="container content-area" id="content">
				{{content}}
		</div>
		<footer id="footer">
    			<div class="container">
    				<div class="row">
    					<div class="col-md-12 footer-content">
    						<span>
    							<a href="https://www.getcore.io/impressum/">Impressum</a>
    							<a href="/">Hilfe Center</a>
    							<a href="https://www.getcore.io">Homepage</a>
    						  	<span class="float-right"><object data="/wiki/img/Single_CSSable.svg" type="image/svg+xml" id="footer-icon"></object></span>
    						</span>
    					</div>
    				</div>
    			</div>
		</footer>
	</body>
</html>
